:root{
  --accent-color: #256bdb;
  --accent-color-hover: #7aadff;
  
  --header-font-color: #333333;
  --twin-hearts-blue: #0000cc;
  --twin-hearts-red: #aa0000;
  
  --main-font-family: 'Fira Sans', 'Arial', sans-serif;
  
  --header-background-color-overlay: rgba(255, 255, 255, 0.9);
  
  --gradient-red-color: rgba(255,100,100,0.35);
  --gradient-blue-color: rgba(20,100,241,0.35);
  --gradient-left-position: 25%;
  --gradient-right-position: 75%;
}

/*-------------------------------------
Basic Setup
-------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color:#fff;
  color: #555;
  font-family: var(--main-font-family);
  font-size:1rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: h
}

.container {
  max-width: 960px;
}

.row {
  max-width: 960;
}
/*-------------------------------------
Reusable Components
-------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0px
}

.box {
  padding: 1%;
}

/*-----Headings----------*/

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top:0;
  margin-bottom:20px;
  color:var(--header-font-color);
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing:2px;
  text-align:center;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 auto 30px auto;
}

h2:after {
  display:block;
  height:2px;
  background-color:var(--accent-color);
  content: " ";
  width: 100px;
  margin: 0px auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}


/*-----Paragraphs----------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left:15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.centered-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.story-text {
  font-family: 'Fira Sans';
  font-size: 100%;
  margin-bottom: 20px;
  text-align: justify
}

.story-text-top {
  margin-top: 40px;
}

.center-quote {
  text-align: center;
}

.blue-text {
  color: var(--twin-hearts-blue);
}

.red-text {
  color: var(--twin-hearts-red);
}


/*-----Icons----------*/
.icon-big {
  font-size:350%;
  display:block;
  color: #e67e22;
  margin-bottom:10px;
}

.icon-small {
  display:inline-block;
  width: 30px;
  text-align: center;
  color: var(--accent-color);
  font-size:120%;
  line-height:120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
}


/*-----Links----------*/

a:link,
a:visited {
  color:var(--accent-color);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.2s, border-bottom 0.2s;
  transition: color 0.2s, border-bottom 0.2s;
  
}

a:hover,
a:active {
  color:#ccc;
  
}

/*-----Buttons----------*/

.btn:link,
.btn:visited,
input[type=button],
input[type=submit]{
  font-family: var(--main-font-family);
  display: inline-block;
  padding: 10px 40px;
  font-weight: 300;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin: 0 10px;
}

.btn-full:link,
.btn-full:visited,
input[type=button],
input[type=submit]{
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: #fff;
  margin-right:15px;
}

.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background: white;
}

.btn:hover,
.btn:active,
input[type=button]:hover,
input[type=submit]:hover{
  background-color:var(--accent-color-hover);
  border: 1px solid var(--accent-color-hover);
}

.btn-ghost:hover,
.btn-ghost:active{
  color: #fff;
}np

/*-------------------------------------
International Travellers
-------------------------------------*/

.section-the-team{
  background-color: #fff;
  color:#000;
  background-attachment:fixed;
}

.contact-card img {
  width: 100%;
}

.section-agm{
  background-color: #eee;
  color:#000;
  background-attachment:fixed;
}

/*-------------------------------------
Contact us
-------------------------------------*/
.section-contact {
  background-image: url(img/gplaypattern.png);
/*    background-attachment:fixed;*/
/*    background-color: rgba(225, 225, 225, 0);*/
}

.alert-message {
  width:60%;
  padding:10px;
  margin:0 auto 20px auto;
  background-color: aliceblue;
  border-radius: 10px;
  text-align: center;
}

.warning {
  background-color: #ffff99;
}

.error {
  background-color: #ff6666;
  color: white;
}

.contact-form {
  width:60%;
  margin: 0 auto;
}

.input-field-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 12px;
  display: block;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
  width:100%;
  padding:7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size:14px;
  font-weight: 300;
  height: 50px;
}

textarea {
  height:100px;
}

input[type=checkbox]{
  margin:10px 5px 10px 0;
}

*:focus {
  outline:none;
}

/*-------------------------------------
Animations
-------------------------------------*/
.js--wp-1,
.js--wp-2,
.js--wp-3{
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}