@media only screen and (max-width: 1200px){

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 5% }
}

@media only screen and (max-width: 1023px){
    body { font-size: 16px }

}

@media only screen and (max-width: 767px){
    
    h3 {
        font-size: 200%;
    }
    
    .row { padding: 0 5% }
    
    .hero-text-box {
        padding: 0 5%;
    }
    
    .section-international-travellers li a:link,
    .section-international-travellers li a:visited { 
        display: block;
        padding: 10px 0;
        font-size: 110%;
    }

    .sticky .main-nav {
        font-size: 120%;
    }
    
    .sticky li a:link,
    .sticky li a:visited {
        padding: 10px 0px;
        font-size: 110%;
    }
    
    .sticky .mobile-nav-icon  { margin: 10px 0; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    body { font-size: 16px }
    
    section { padding: 40px 0px }
    
    .col { 
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
    
    .story-text{
        font-size: 14px;
        padding: auto 4%;
    }
    
    .story-text-top {
        margin-top: 10px;
    }
    
    .story-header {
        font-size: 120%;
        font-weight: bold;
    }
    
    .story-text { 
        font-size: 110%;
    }
    
    .contact-form {
        width:90%;
    }
    
    h2:after{
        margin-top:28px;
    }
    
    input[type=text],
    input[type=email],
    input[type=number],
    select,
    textarea {
        font-size:18px;
        font-weight: 300;
        margin-top:-10px;
    }
    
    
    input[type=submit]{
        font-size: 90%;
    }
    
    .form-label{
        margin-bottom:10px;
        font-size: 120%;
    }
    
    .logo-container a:link,
    .logo-container a:visited { 
        font-size: 220%;
    }
    
    .alert-message {
        width:80%;
        padding:10px;
        margin:0 auto 20px auto;
        font-size: 120%;
    }
    
    label{ 
        font-size: 120%
    }
    
    
    header {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 480px){
    
    .row { padding: 0 5% }
    
    .hero-text-box {
        padding: 0 5%;
    }
    
    body { font-size: 16px }
    
    section { padding: 40px 0px }
    
    .col { 
        margin-bottom: 20px;
        width: 100%;
    }
    
    
    .story-text{
        font-size: 120%;
    }
    
    .story-text-top {
        margin-top: 10px;
    }
    
    p { font-size: 18px}
    
    .story-header {
        font-size: 120%;
        font-weight: bold;
    }
    
    .contact-form {
        width:90%;
    }
    
    input[type=text],
    input[type=email],
    input[type=number],
    select,
    textarea {
        font-size:18px;
        font-weight: 300;
        margin-top:-10px;
    }
    
    .form-label{
        margin-bottom:10px;
    }
    
    label{ 
        font-size: 120%
    }
    
    h2:after{
        margin-top:28px;
    }
}