.section-events {
    background: url(../img/events/gala-backdrop.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.events-container {
    background: url(../img/events/gala-red-carpet.jpg) no-repeat center center;
    background-size: 100% 100%; 
    width: 90%;
    margin: 0 auto auto auto;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    padding: 60px 0;
    max-width: 600px;
}

.gala-twin-hearts-presents {
    width: 20%;
    margin: 0 40% 20px 40%;
}

.gala-ball-header {
    width: 70%;
    margin: 0 15%;
}

.tickets-button {
    margin: 0 auto !important;
}

.event-info-section {
    background: rgba(0,0,0,0.40);
    padding: 20px 15%;
    margin: 20px 1%;
    color: white;
}

@media only screen and (max-width: 1200px){
    .gala-ball-header {
        width: 70%;
        margin: 0 15%;
    }
}

@media only screen and (max-width: 1023px){
    .gala-ball-header {
        width: 70%;
        margin: 0 15%;
    }

}

@media only screen and (max-width: 767px){
    .gala-ball-header {
        width: 80%;
        margin: 0 10%;
    }

    .event-info-section {
        padding: 20px 10%;
    }
}

@media only screen and (max-width: 480px){
    .events-container {
        padding: 40px 0;
    }

    .gala-ball-header {
        width: 90%;
        margin: 0 5%;
    }
    .gala-twin-hearts-presents {
        width: 30%;
        margin: 0 35% 20px 35%;
    }

    .event-info-section {
        padding: 20px 5%;
    }
}